body {
   font-family: Raleway;
   font-size: 1.5rem;
   line-height: 1.6rem;
   font-weight: 300;
   }
  
   .main-container {
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
   box-sizing: border-box;
   }
   
   .header {
   margin-top: 6rem;
   text-align: center;
   }
   
   h2 {
   margin-top: 0;
   margin-bottom: 2rem;
   font-weight: 300;
   }
   
   h2 {
   font-size: 2.3rem;
   line-height: 1.25;
   letter-spacing: -.1rem;
   }
   
   @media (min-width: 400px) {
	 .main-container  {
    width: 85%;
    padding: 0;
	}
   }
   
   